.ctAppRoot .esri-popup__content .relatedTablesPopup {
    background-color: #fff !important;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .v-card__title {
    background-color: #fff !important;
    color: #6e6e6e;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .v-tabs__bar {
    background-color: #fff;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .v-tabs__item {
    color: #6e6e6e;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .v-tabs__icon {
    color: #6e6e6e;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .v-text-field input {
    color: #6e6e6e;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .v-text-field .v-label {
    color: #6e6e6e;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .v-input__control > .v-input__slot:before {
    border-color: #6e6e6e;
}

.ctAppRoot.ctEnv_IE_11 .esri-popup__content .relatedTablesPopup .v-tabs__item {
    flex-basis: auto;
}

.ctAppRoot .esri-popup__main-container {
    overflow: auto;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .v-datatable {
    background-color: #fff;
    color: #6e6e6e;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .v-datatable .column {
    color: #6e6e6e !important;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .v-datatable .column.active {
    color: #6e6e6e !important;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .v-datatable .column.hover {
    color: #6e6e6e !important;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .v-datatable .column .v-icon {
    color: #6e6e6e !important;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .v-datatable tr {
    border-bottom: 1px solid rgba(0, 0, 0, .12) !important;
}

.ctAppRoot .vuetify-menues .relatedTableMenu .v-list {
    background-color: #fff;
    color: #6e6e6e;
}
