.ctAppRoot .esri-popup__content .relatedTablesPopup {
    background-color: #fff !important;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .card__title {
    background-color: #fff !important;
    color: #6e6e6e;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .tabs__bar {
    background-color: #fff;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .tabs__item {
    color: #6e6e6e;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .datatable {
    background-color: #fff;
    color: #6e6e6e;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .datatable .column {
    color: #6e6e6e !important;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .datatable .column.active {
    color: #6e6e6e !important;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .datatable .column.hover {
    color: #6e6e6e !important;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .datatable .column .icon {
    color: #6e6e6e !important;
}

.ctAppRoot .esri-popup__content .relatedTablesPopup .datatable tr {
    border-bottom: 1px solid rgba(0,0,0,.12) !important;
}
